.main {
  font-size:20px;
  text-align: center;
}
nav {
  align:center;
}
.link {
  color:black;
  text-decoration:none;
  padding: 3px;
  margin: 1px;
  border:1px solid black;
}
a:hover {
  color:red;
}
